{
  "env": {
    "browser": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "FB": false,
    "google": false,
    "usr": true,
    "wp": false
  },
  "parser": "babel-eslint",
  "root": true
}
