@media ( min-width: 768px ) {
	.row-md-eq {
		display: flex;
	}
}

.col-middle {
	flex-direction: column;
	vertical-align: middle;
	align-self: center;
}

.navbar {
	border: 0;
}

.navbar-right {
	margin-right: 0;
}

.navbar-brand {
	padding-bottom: 10px;
	padding-top: 10px;

	> img {
		max-height: 60px;
	}
}

.navbar-toggle {
	.icon-bar {
		transition: all .2s ease-in-out;
	}

	.bar-top {
		transform-origin: 10% 10%;
		transform: rotate( 45deg );
	}

	.bar-middle {
		opacity: 0;
	}

	.bar-bottom {
		transform-origin: 10% 90%;
		transform: rotate( -45deg );
	}

	&.collapsed {
		.bar-top,
		.bar-bottom {
			transform: rotate( 0 );
		}

		.bar-middle {
			opacity: 1;
		}
	}
}

.section {
	padding-bottom: 60px;
	padding-top: 60px;
}

.section-intro {
	background: #5e6d7b url('../img/hero-bg.jpg') center center no-repeat;
	background-size: cover;
	color: #fff;
	padding-top: 0;

	.navbar {
		margin-bottom: 60px;
	}

	.section-header {
		font-size: 24px;
		margin-bottom: 60px;

		@media ( min-width: 768px ) {
			font-size: 36px;
			margin-bottom: 0;
		}
	}
}

.label {
	border-radius: 0;
	font-weight: 300;
	text-transform: uppercase;
}

.text-danger {
	color: #f41215;
}

.panel {
	border-width: 8px;
	box-shadow: none;
}

.panel-activity {
	.panel-body {
		padding: 60px 60px 140px;
	}
}

.img-responsive {
	width: 100%;
}

.mosaic {
	display: block;
	margin-bottom: -150px;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	position: relative;
	top: -150px;
}

.divider {
	border-top-width: 2px;
	margin-left: 0;
	margin-right: 0;
	width: 160px;
}

.divider-center {
	margin-left: auto;
	margin-right: auto;
}

.list {
  list-style: none;

  li {
    padding-left: 1.5em;
    position: relative;

    &:before {
      content: "";
      display: inline-block;
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

.list-bulleted {
  li {
    &:before {
      color: #f41215;
      content: "\25cf";
    }
  }
}

.footer {
	color: #00a0e8;
	text-align: center;

	.section-title {
		font-size: 80px;
	}

	strong {
		color: #6396ad;
	}
}
