@media (min-width: 768px) {
  .row-md-eq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.col-middle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  vertical-align: middle;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.rail {
  background-color: red;
  position: absolute;
  top: 0;
  width: 200px;
}
.rail-left {
  left: auto;
  margin-right: 15px;
  padding-right: 15px;
  right: 100%;
}
.navbar {
  border: 0;
}
.navbar-right {
  margin-right: 0;
}
.navbar-brand {
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar-brand > img {
  max-height: 60px;
}
.navbar-toggle .icon-bar {
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.navbar-toggle .bar-top {
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.navbar-toggle .bar-middle {
  opacity: 0;
}
.navbar-toggle .bar-bottom {
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.navbar-toggle.collapsed .bar-top,
.navbar-toggle.collapsed .bar-bottom {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.navbar-toggle.collapsed .bar-middle {
  opacity: 1;
}
.img-responsive {
  width: 100%;
}
.section {
  margin-bottom: 60px;
}
.section-intro {
  background: #5e6d7b url("../img/hero-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 60px;
}
.section-intro .navbar {
  margin-bottom: 60px;
}
.section-intro .section-header {
  font-size: 24px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .section-intro .section-header {
    font-size: 36px;
    margin-bottom: 0;
  }
}
.label {
  border-radius: 0;
  font-weight: 300;
  text-transform: uppercase;
}
.text-danger {
  color: #f41215;
}
.entry {
  margin-bottom: 60px;
}
.entry-title:first-child {
  margin-top: 0;
}
.entry-title > small {
  display: block;
  margin-bottom: 1em;
}
.panel {
  border-width: 8px;
  box-shadow: none;
}
.panel-activity .panel-body {
  padding-bottom: 60px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .panel-activity .panel-body {
    padding-bottom: 90px;
  }
}
@media (min-width: 768px) {
  .panel-activity .panel-body {
    padding: 60px 60px 140px;
  }
}
.activity-mosaic {
  display: block;
  margin-bottom: -60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  position: relative;
  top: -60px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .activity-mosaic {
    margin-bottom: -90px;
    top: -90px;
  }
}
@media (min-width: 768px) {
  .activity-mosaic {
    margin-bottom: -150px;
    top: -150px;
  }
}
.divider {
  border-top-width: 2px;
  margin-left: 0;
  margin-right: 0;
  max-width: 160px;
}
.divider-center {
  margin-left: auto;
  margin-right: auto;
}
.divider-danger {
  border-color: #f41215;
}
.list {
  list-style: none;
  padding-left: 0;
}
.list li {
  padding-left: 1.5em;
  position: relative;
}
.list li:before {
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
}
.list-checkbox {
  color: #999;
  padding-left: 0;
}
.list-checkbox li {
  margin-bottom: 20px;
  padding-left: 2em;
}
.list-checkbox li:before {
  background-image: url("../img/sprite-checkbox.png");
  background-repeat: none;
  background-size: 1em auto;
  height: 1em;
  top: 2px;
  width: 1em;
}
.list-checkbox li.checked {
  color: #00a0e8;
}
.list-checkbox li.checked:before {
  background-position: left bottom;
}
.list-bulleted li:before {
  color: #f41215;
  content: "\25cf";
}
.list-relaxed li {
  margin-bottom: 10px;
}
.footer {
  color: #00a0e8;
  text-align: center;
}
.footer .section-title {
  font-size: 80px;
}
.footer strong {
  color: #6396ad;
}
.fb-page {
  display: block !important;
}
/*# sourceMappingURL=style.css.map */
